body {
    
    background-image: url("spikes.png");
}

header{
    text-align: center;
    background-image: url("vintage-wallpaper.png");
    margin: 40px;
    padding: 40px;
    color: bisque;
}

#main{
    margin-bottom: 50px;
}

.span2{
    margin-right: 10px;
    display: none;
}

